body{
	background-color: gray;
	line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
}
h1{
	color: #F0FFFF;
	text-align: center;
	font-size: 40px;
}
h2{
	color: #F0FFFF;
	text-align: center;
	font-size: 30px;
}
p{
	
	color: #F0FFFF;
	text-align: center;
	font-size: 20px;
}
aside{
		color: #F0FFFF;
	text-align: center;
	font-size: 25px;
	
}
footer{
	color: #F0FFFF;
}

