/*CSS by Natalie Bright, Karin Bryant, Josh Bundy and Lacy Rhynes-Jacinto April 2020 */
/*reset rule created by by Dan Dougherty Sept 2016*/
article, body, div, footer, header, h1, h2, p {
	border: 0;
	padding: 0;
	margin: 0;
	top: 0;
}

.container{
	color: honeydew;
	background-color: midnightblue;
	line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
	min-width: 400px;
	width: 40vw;
	font-family: sans-serif;
}

#title {
	font-size: 1.5em;
	text-align: center;
	padding: .1em;
	margin: .25em;
	border: .2em solid black;
}

#flexContainer {
	display: flex;
	font-size: 1.1em;
}

#groupContainer {
	border-right: solid black .1em;
	padding: .5em;

}

.groupMember {
	border-bottom: solid black .1em;

}

aside{
	position: relative;
	top: 6em;
	text-align: center;
	font-size: .9em;
	margin: .25em;
	padding: .5em;
}


