/*CSS by Natalie Bright, Karin Bryant, Josh Bundy and Lacy Rhynes-Jacinto April 2020 */
/*reset rule created by by Dan Dougherty Sept 2016*/
article, body, div, footer, header, h1, h2, p {
	border: 0;
	padding: 0;
	margin: 0;
	top: 0;
}

/* body and page container */
.container{
	color: honeydew;
	background-color: #002b90;
	line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
	min-width: 400px;
	width: 40vw;
	font-family: sans-serif;
}

#flexContainer {
	font-size: 1.1em;
}

/* headings */
#title {
	width: max;
	font-size: 1.5em;
	text-align: center;
	background-color: #002680;
	padding: .1em;
	margin: 0;
	border-bottom: .2em solid black;
}
h3{
	text-align: center;
}
hr{
	border: black solid 0.1em;
	width:90%;
}

/*main content*/
#groupContainer {
	width: 70%;
	float: left;
	border-right: solid black .1em;
	padding: .5em;
	margin: 0 0.5em 0;
}

/* sidebar */
#aside{
	width: 30%;
	text-align: center;
	font-size: .9em;
	margin: .25em;
	padding: 1em;
}

/* footer */
footer {
   clear: all;
   color: white;
   text-align: center;
   background-color: #002680;
   border-top: solid black 0.1em;
   padding: .1em;
	margin: 0;
   padding: 0.6em;
}
